@import "../../share";

@include useScope() {

  .AEInput {
    width: 64px;
    height: 28px;
    border: 1px solid var(--grey-color);
    background: white;
    padding: 0 4px;
    border-radius: 4px;
    transition: border-color .3s ease;

    &:focus {
      border-color: var(--primary-color);
      outline: none;
    }

    &:hover {
      box-shadow: 0px 0px 6px -3px var(--primary-color);
    }

    &[disabled] {
      opacity: 0.5;
    }
  }
}