@import "../../share";

@keyframes opacityAnim {
  0% {
   opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@include useScope() {
  .EmptyListPlaceholder {
    display: flex;
    align-items: center;
    padding: 8px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    animation: opacityAnim 3s;
  }

  button.ToggleBtn {
    position: absolute;
    top: -4px;
    right: 4px;
    transform: translateY(-100%);
    border-color: transparent;
    background: white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    @include useOpacityAnimation();

    @include useShadow();

    &:focus,
    &:hover {
      background: white;
    }
  }

  button.FeedbackBtn,
  button.PositionBtn {
    @include useOpacityAnimation();
    @include useShadow();

    z-index: 10;
    position: absolute;
    bottom: 4px;
    right: 4px;
    border-color: transparent;
    background: white;
    opacity: 0;


    &:focus,
    &:hover {
      background: white;
    }
  }

  button.FeedbackBtn {
    bottom: 40px;
  }

  .PreviewList {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 120px;
    box-shadow: rgba(100, 115, 130, 0.15) 0px -1px 4px 0px;
    width: 100%;
    display: flex;
    transform: translateY(0);
    transition: transform .2s ease;
    @include useCard();
    border-radius: 0;

    &.hidden-list {
      transform: translateY(100%);
    }

    &:hover {
      button.FeedbackBtn,
      button.PositionBtn {
        opacity: 0.8;
      }
    }

    button.FeedbackBtn,
    button.PositionBtn {
      &:hover {
        opacity: 1;
      }
    }
  }

  .Preview {
    width: 120px;
    min-width: 120px;
    height: 100%;
    position: relative;
    margin-right: 8px;
    cursor: pointer;

    img {
      border: 3px solid transparent;
      border-radius: 6px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    button {
      position: absolute;
      right: 0;
      top: 0;
      padding: 0;
      margin: 4px;
      @include useOpacityAnimation(0.2s);
    }

    svg {
      @include useOpacityAnimation(0.2s);
      opacity: 0;
    }

    &.active-layer img {
      border-color: var(--primary-color);
    }

    &:hover {
      button {
        background: white;
        @include useShadow();
      }
      svg {
        opacity: 1;
      }
    }
  }

  .ScrollArea {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;

    @include useScroll()
  }

  // new layout
  .to-left.PreviewList {
    left: 0;
    width: 160px;
    height: 100%;
    flex-direction: column;

    &.hidden-list {
      transform: translateX(-100%);
    }

    .DropZone {
      width: 100%;
      min-width: 100%;
      margin-bottom: 8px;
    }

    .ScrollArea {
      flex-direction: column;
      overflow-y: auto;
      overflow-x: hidden;
    }

    .Preview {
      width: 100%;
      min-width: 100%;
      margin: 4px 0;
    }

    .ToggleBtn {
      top: auto;
      bottom: 4px;
      transform: translateX(100%) rotate(90deg);
      right: -4px;
    }
  }
}