@import "../../share";

@include useScope() {
  $gold: 1.62;
  $height: 256px;

  .AEControls {
    display: flex;
    flex-direction: column;
    max-width: $height/$gold;
    position: fixed;
    right: 0;
    top: 0;
    height: $height;
    transition: height 0.2s ease-in;
    overflow: hidden;

    .AEhandleDraggable {
      cursor: move;
    }

    .AEIconWrap {
      margin-left: auto;
      margin-right: 4px;
    }

    label {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    label,
    .AEslidecontainer {
      padding: 0 8px;
    }

    .AEslidecontainer {
      margin-top: 4px;
    }

    @include useCard();
    padding: 0;
    @include useShadow();

    .AEhead {
      min-height: 30px;
      display: flex;
      justify-content: space-between;
      padding: 0 8px;
      border-bottom: 1px solid var(--grey-light-color);
      margin-bottom: 8px;
    }

    &:not(.AEfull) {
      height: 32px;
    }
  }

  .AEInput {
    margin: 4px 0 4px 0;
  }

  .AEhandleDraggable {
    cursor: move;
  }
}