@import "../../share";

@include useScope() {
  .Controls {
    display: flex;
    flex-direction: column;
    max-width: 152px;
    position: fixed;
    right: 0;
    top: 0;
    height: 250px;
    transition: height 0.2s ease-in;
    overflow: hidden;

    .handleDraggable {
      cursor: move;
    }

    label {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    label,
    .slidecontainer {
      padding: 0 8px;
    }

    .slidecontainer {
      margin-top: 4px;
    }

    @include useCard();
    padding: 0;
    box-shadow: rgba(100, 115, 130, 0.3) 0px 1px 4px 0px;

    .head {
      min-height: 30px;
      display: flex;
      justify-content: space-between;
      padding: 0 8px;
      border-bottom: 1px solid var(--grey-light-color);
      margin-bottom: 8px;
    }

    &:not(.full) {
      height: 32px;
    }
  }

  .Input {
    margin: 4px 0 4px 0;
  }

  .handleDraggable {
    cursor: move;
  }
}