
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App-Extension {
  z-index: 999999999;
  position: absolute;
  top: 0;

}

.IconWrap {
  border: none;
  outline: none;
  background: transparent;
}

button {
  opacity: .8;

  &:not([disabled]) {
    cursor: pointer;
  }

  &:hover {
    opacity: 1;
  }
}


:root {
  --primary-color: #3f51b5;
  --grey-color: #d3d3d3;
  --grey-light-color: rgba(211, 211, 211, 0.48);

  --text-color: #d3d3d3;

}